/*header begin*/

p.text-center.cart-empty {
    font-size: 16px;
    font-weight: 600;
}
#logo{padding: 0}
header .container-inner {
    margin-top: -15px;

}

.top-contacts {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 16px;
    flex-wrap: wrap;
}
#accordion > .panel-default:nth-child(3){
    display: none;
}
.top-mail, .top-tel {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.top-contacts a {
    color: white;
    font-weight: 500;
}

.top-tel i, .top-mail i {

    margin-right: 7px;

    width: 15px;

    height: 15px;

    display: inline-block;

    background-size: cover !important;
}

.top-tel i{
    background: url(/image/icon/phone.svg);
}
.top-mail i{
    background: url(/image/icon/mail.svg);
}
.ma-corporate-about .top-tel i{
    background: url(/image/icon/phone2.svg);
}
.ma-corporate-about .top-mail i{
    background: url(/image/icon/mail2.svg);
}



.common-home header {
    position: absolute;
    background: #262626;
    z-index: 7;

}
div#cart {
    margin-left: 10px;

}

#cart > button:before{

    content: "";
    height: 24px;
    width: 24px;
    display: inline-block;
    background-image: url(/image/icon/cart.svg);
}

#cart > button {
    display: flex;
    align-items: center;
}
#logo a {
    color: white;
}

#logo a:hover {
    color: #ff7a5f;
}

#logo h1 {
    padding-top: 15px;
    position: relative;
    top: 40px;
}
/*header end*/



/*home begin*/

iframe.gmaps.item2 {
    display: none;
}
.deal-producst .item-inner .caption .available {
    display: inline;

}
.deal-producst .stock-box{
    margin-top: 20px;
}
.box-timer.is-countdown {
    display: none;
}
.text-home {
    margin-top: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.desc-subcat {
    margin-bottom: 15px;
    font-weight: 700;
}
.go-catalog {
    padding-bottom: 30px;
    /*height: 335px;*/
    /*background-image: url("https://cdn.pixabay.com/photo/2014/10/16/01/03/shopping-490584_960_720.png");*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.go-catalog a.link {
    height: 50px;
}
.go-catalog {
    transition: 1s;
    margin-top: 33px;
}
.go-catalog:hover {
    transform: scale(1.2);
}
.corporate-about-contacts {
    display: flex;
    clear: both;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
}
.corporate-about-contacts a {
    font-size: 16px;
    font-weight: 500;
}

.gmaps {
    height: 450px;
    width: 100%;
    margin-top: 35px;
    padding: 0 15px 0 15px;
}
.corporate-about-contacts a:hover {
    color: inherit;
}
.static-middle-indecor5 .col {
    width: 100%;
}
.price-box p.special-price .price {
    color: red;
    font-weight: 500;
}
.deal-producst .price {
    font-size: 30px !important;
}

.deal-producst .label-product.label_sale{
    font-size:20px;
    color:red;
    font-weight:500;
}
button.button.btn-wishlist {
    display: none;
}

button.button.btn-compare {
    display: none;
}
.item-inner .action-links button:before {
    content: url(/image/icon/cart2.svg);
    width:28px;
    height:28px;

}

.item-inner .action-links button:hover:before {
    content: url(/image/icon/cart.svg);
    width:28px;
    height:28px;

}
#product_module639 .static-bottom-indecor1 a.link {
    font-size: 16px;
}
/*home end*/



/*footer begin*/
ul.footer-contact a {
    color: inherit;
}
.footer-top {
    padding-bottom: 0;
}
/*footer end*/



/*category begin*/
select#input-sort option:nth-child(6), select#input-sort option:nth-child(7) , select#input-sort option:nth-child(8)
, select#input-sort option:nth-child(9) {
    display:none;
}
@media (min-width: 1200px) {
    .product-category .breadcrumbs.hasimage .container {
        width: 100%;
        padding: 0;
    }
    .product-category .breadcrumbs.hasimage .container img.img-thumbnail{
        width:100%;
        height:auto;
    }
    .btn-grid.btn-grid-2 {
        display: inline-block;
    }

}

#compare-total,  .product-category button.button.btn-wishlist, .product-category button.button.btn-compare {
    display: none;
}


/*category end*/




/*product begin*/
div#tab-specification table {
    border: none;
}

div#tab-specification thead td {
    border: none;
}

div#tab-specification thead {
    font-size: 18px;

    text-align: center;
}
#tab-specification tbody {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}

#tab-specification tbody tr {
    width: 50%;
    display: flex;
}

#tab-specification tbody tr td, #tab-specification tbody tr th {
    width: 50%;
    /* border-left: 0; */
    /* border-top: 0; */
}
.product-info-detailed .tab-content {

    padding: 0;
    font-size: 13px;
    border: none;
}
#product-product .price:after {
    content:" / m2";
}
#product-product .input-group.number-spinner-XVR:after {
    content: " / m2";
    font-size: 18px;
    position: absolute;
    top: 10px;
    width: 40px;
    right: -50px;
    left: unset;
}
#checkout-cart .input-group.number-spinner-XVR:after {
    content: "m2";
    font-size: 18px;
    position: absolute;
    top: 40px;
    width: 40px;
    left: 37px;
}
.ratings {
    display: none !important;
}
span.price-label {
    font-size: 34px;
    padding-right: 10px;
}

.ex-label {
    font-size: 16px;
}

span.ex-text {
    padding-left: 10px;
}
span.available:after {
    width: 24px;
    height: 24px;
    content: "";
    background-image: url(/image/icon/check.svg);
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: -2px;
    right: -25px;
}

span.available {
    position: relative;
}
.price-box p.special-price .price {
    font-weight: 600;
}
.stock-box {
    font-weight: 700;
    font-size: 120%;
}
.brand-box{display: none !important;}
#product button.btn-wishlist, #product button.btn-compare{
    display: none;
}

.alert.alert-info {
    display: none;
}



input#input-quantity {
    margin-top: 0 !important;
    margin: 0;
}
.input-group-addon, .input-group-btn {
    width: auto;
}
#product-product .btn-primary {

    background-color: #ff7a5f !important;
}

#product-product .btn-primary:hover {

    background-color: #ff7a5f00 !important;
    color:#ff7a5f;

}
/*product end*/


/*default begin*/
.ma-corporate-about {

    margin-top: 50px;
}
div#information-information {
    font-size: 16px;
}
.information-contact .gmaps {
    padding: 0;
}

.container-contact {
    display: flex;
    justify-content: space-between;
}
.mycontact2{
    margin-top: 60px;
}

.information-contact form{
    margin-top: 50px;
}
/*default end*/


/*checkout begin*/
.checkout-cart table.table.table-bordered {
    font-weight: 600;
    font-size: 120%;
}
/*checkout end*/

