/*header begin*/
#logo{padding: 0}
header .container-inner {
    margin-top: -10px;
}
.top-contacts {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 16px;

}

.top-mail, .top-tel {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.top-contacts a {
    color: white;
    font-weight: 500;
}

.top-tel i, .top-mail i {

    margin-right: 7px;

    width: 15px;

    height: 15px;

    display: inline-block;

    background-size: cover !important;
}

.top-tel i{
    background: url(/image/icon/phone.svg);
}
.top-mail i{
    background: url(/image/icon/mail.svg);
}
.ma-corporate-about .top-tel i{
    background: url(/image/icon/phone2.svg);
}
.ma-corporate-about .top-mail i{
    background: url(/image/icon/mail2.svg);
}



.common-home header {
    position: absolute;
    background: #262626;
    z-index: 7;

}
div#cart {
    margin-left: 10px;

}

#cart > button:before{

    content: "";
    height: 24px;
    width: 24px;
    display: inline-block;
    background-image: url(/image/icon/cart.svg);
}

#cart > button {
    display: flex;
    align-items: center;
}
/*header end*/



/*home begin*/
.desc-subcat {
    margin-bottom: 15px;
    font-weight: 700;
}
.go-catalog {
    padding-bottom: 30px;
    height: 335px;
    background-image: url("https://cdn.pixabay.com/photo/2014/10/16/01/03/shopping-490584_960_720.png");
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.go-catalog a.link {
    height: 50px;
}
.go-catalog {
    transition: 1s; /* Время эффекта */
    margin-top: 33px;
}
.go-catalog:hover {
    transform: scale(1.2);
}
.corporate-about-contacts {
    display: flex;
    clear: both;
    justify-content: center;
    padding-top: 30px;
}
.corporate-about-contacts a {
    font-size: 16px;
    font-weight: 500;
}

.gmaps {
    height: 450px;
    width: 100%;
    margin-top: 35px;
    padding: 0 15px 0 15px;
}
.corporate-about-contacts a:hover {
    color: inherit;
}
/*home end*/



/*footer begin*/
ul.footer-contact a {
    color: inherit;
}
/*footer end*/